li.strikethrough {
  text-decoration: line-through;
}
button {
  margin: .25em;
}
li button {
  margin: 0 .125em;
}
li button:first-child {
  margin: 0 .125em .25em 1em;
}
.deleteBtn,
.doneBtn {
  color:white;
  border-radius: 3px;
}
.deleteBtn {
  background: red;
}
.doneBtn {
  background: green;
}
